<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506543942331-k10r22c88ldbj06vutj8di8d2ss1jorq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506543942331-k10r22c88ldbj06vutj8di8d2ss1jorq</string>
	<key>API_KEY</key>
	<string>AIzaSyBHbZirIvEtQCa1IqYHiKOrEQIydTJNNb4</string>
	<key>GCM_SENDER_ID</key>
	<string>506543942331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andra.apps.DropYourPackageFinal</string>
	<key>PROJECT_ID</key>
	<string>swift-drop-package</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-drop-package.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506543942331:ios:62f57033fe7ba72dc0d79e</string>
	<key>DATABASE_URL</key>
	<string>https://swift-drop-package.firebaseio.com</string>
</dict>
</plist>